<!DOCTYPE HTML>
<html>
	<head>
		<title>Binder</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="/">Binder</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
                                            <% if(user) { %>
                                            <li><a href="/options">Options</a></li>
                                            <li><a href="/movies">Movies</a></li> 
											<li><a href="/random">Randoms</a></li> 
											<li><a href="/logout">Logout</a></li> 
                                            <% } %>
                                            <% if(!user) { %>
                                            <li><a href="/register">Register</a></li>
											<li><a href="/login">Log In</a></li>
											<% } %>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
                            <% if(user) { %>
                            <p>Welcome <span id='love'> <%= user.name %> </span> </p> 
                            <% } %>
							<h2>Binder</h2>
							<p>Start a new relationship<br />
							or get some new-new<br />
							</p>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Meet your date, fall in <span id='love'>"love"</span>, ruin your life!</h2>
								<p>In this day and age we just don't have time to meet a partner<br />
								We do all the heavy lifting for you, all you have to do is show up and not be boring.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-handshake major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
                                <!-- <li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li> -->
                                <li><span class="icon solid fas fa-skull-crossbones major style3"><span class="label">Dolor</span></span></li>
                                <!-- <li><span class="fas fa-baby-carriage"><span class="label">Dolor</span></span></li> -->
                                
							</ul>
						</div>
					</section>

				<!-- Footer -->
				<%- include('../partials/footer') %>
			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>