<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Login</title>
</head>
<body>
    <h3>Hey from login page</h3>
        <% if(errors.length > 0) { %> <%= errors %> <% } %>

        <form action="/login" method="POST">
            <div>
                <label for="email">Email: </label>
                <input type="text" id="email" name="email" />
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" />
            </div>
            <button type="submit">Login</button>
        </form>
        <a href="/register">Register</a>
        <a href="/">Home</a>
    <%- include('../partials/footer') %>
</body>
</html>

     