<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Login</title>
</head>
<body>
     <div class="heading">Login</div>
    
    <form action="/login" method="POST">
        <div class='form-container'>
            <% if(errors.length > 0) { %> <%= errors %> <% } %>
                <div>
                    <label id='email-label' for="email">Email: </label>
                    <input type="text" id="email" name="email" />
                </div>
                <div>
                    <label id='password-label' for="password">Password: </label>
                    <input type="password" id="password" name="password" />
                </div>
                <button class="button fit primary" id='submit-button' type="submit">Login</button>
            </div>
        </br></br></br>
        </form>
       
    <%- include('../partials/footer') %>
</body>
</html>

     