<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Register</title>
</head>
<body>
    <h3>Hey from register page</h3>
    <%- include('../partials/footer') %>
</body>
</html>